body {
    font-family: ubuntu;
    background-color: hsl(217, 100%, 97%);  /*Background color: Magnolia */
    margin:0px;
    padding: 4% 10%;
    /* overflow: hidden; */
}

h1{
    margin-bottom: 8px;
}

p{
    font-family: ubuntu;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;

}

.main-box{
    display: grid;
    grid-template-columns:max-content auto;
    border-radius: 15px;
    margin-inline: auto;
    padding: 15px;
    background-color: hsl(0, 0%, 100%); 
    box-shadow: 10px 10px 2px 25apx lightblue;
    max-width: 800px;
    min-width: 480px;
}

.img-box{
    padding: 0px;
    position: relative;
    width: 274px;
    height: 568px;
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
}

.inner-text{
    justify-content: center;
    color: white;
    min-height:80%;
    inset:5% 10% auto 10%;
    position:absolute;
}

.flex-container{
    display: flex;
    align-items: center;
}

.number{  
    margin-right:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:1px solid white;

}

.text-box{
    color: hsl(213, 96%, 18%);
    /* position: relative; */
    display: grid;
    grid-template-columns: auto;
    padding: 3% 15% 0;
}
/* 
.details:valid{
    border-color: hsl(213, 96%, 18%);
} */


.step {           /* span element for step number*/
    color: hsl(231, 13%, 80%);
    font-size: 12px;
    font-weight: 400;
    font-family: ubuntu;
    margin-bottom: 3px;
    display: inline-block;
}

.details{
    font-weight: 500;
    font-size: 16px;
    font-family: ubuntu;
    width: 95%;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
}

form{
    position: relative;
}

form span{
    font-size: 15px;
    font-weight: 500;
    color: rgb(211, 4, 4);
    position: absolute;
    display:inline;
    right:0;
    visibility: hidden;
}

::placeholder{
    color: hsl(231, 11%, 63%);
}


.plan-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plans{
    padding-top: 15px;
    padding-left: 20px;
    width:25%;
    height: max-content;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    cursor: pointer;
}

.plan-prices {
    color: hsl(231, 11%, 63%);
    font-weight: 400;
}

.plans:hover{
    border-color: hsl(213, 96%, 18%);
}

.plan-selected {
    border-color: hsl(213, 96%, 18%);
    background-color: hsl(228, 71%, 96%);
}

.plan-icon{
    margin-bottom: 40px;
}

.total-box{
    background-color: hsl(228, 71%, 96%);
    padding: 20px;
    border-radius: 10px;
}

.thank-box{
    text-align: center;
    margin-top:30%;
    margin-bottom: 30%;
}

#duration-section{
    display: grid;
    margin-top: 20px;
    border-radius: 10px;
    background-color: hsl(228, 71%, 96%);
    grid-template-columns:46% max-content 46%;
}

#duration-switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#duration-switch input{
    display: none;
}

#duration-switch label{
    display: block;
    position: relative;
    width:35px;
    height:17px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 20px;
    cursor: pointer;
}

#duration-switch label::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    top: 2.5px;
    left: 3px;
    transition: 0.3s;
}

#duration-switch input:checked + label::before{
    left: calc(100% - 14.5px);
}

.addon-grid{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
}

.addons{
    display: grid;
    grid-template-columns: 10% 70% 20%;
    align-items: center;
    width:100%;
    height: 70px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
    accent-color: hsl(243, 100%, 62%);
}

.addon-details{
    margin-top: 3px;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
    font-size: 13px;
    display: inline-block;
}

.addon-details:hover{
    color:  hsl(243, 100%, 62%);
}

.addon-prices{
    text-align: center;
    color:hsl(243, 100%, 62%);
    font-weight: 500;
}

.addons:hover{
    border-color: hsl(213, 96%, 18%);
}

.addon-selected{
    border-color: hsl(213, 96%, 18%);
    background-color:  hsl(228, 71%, 96%);
}

.final-prices{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 0px;
    height: max-content;
}

.final-prices p{    /* p element inside final-prices div*/
    margin: 0;
}

.gray-text{   
    color: hsl(231, 11%, 63%);
    font-weight: 500;
    font-size: 13px;
    display: inline-block;
}

hr{
    margin: 15px 0 20px;
    color:  hsl(231, 13%, 80%);
    font-weight: 100;
}

#total-price{
    padding: 20px;
}

#next-button{
    float: right;
    font-size: 16px;
    font-family: ubuntu;
    border: none;
    border-radius: 8px;
    width:120px;
    height: 50px;
    background-color: hsl(213, 96%, 18%);
    color: white;
    cursor: pointer;
}

#next-button[title="Confirm"]{
    background-color: hsl(243, 100%, 62%);
}

#next-button[title="Confirm"]:hover{
    background-color: hsl(243, 82%, 76%);
}

#next-button:hover{
    background-color: hsl(213, 68%, 31%);
}

#goback-button{
    font-size: 16px;
    font-family: ubuntu;
    border: none;
    width:100px;
    height: 50px;
    background-color: white;
    color:hsl(231, 11%, 63%);
    cursor: pointer;
}

#goback-button:hover{
    color: hsl(213, 96%, 18%);
}

@media only screen and (max-width: 650px){

    p, span, .gray-text, .addon-details, .details{
        font-size: 18px;
    }

    .plan-grid{
        flex-direction: column;
    }

    .plans{
        width: 90%;
        margin: 10px 0;
        padding: 15px;
    }

    .plans div {
        /* justify-content: center; */
        display: grid;
        grid-template-columns: max-content max-content;
        grid-column-gap: 15px;
        justify-items: left;
    }

    .plan-icon{
        margin: auto 0;
    }

    body{
        padding: 0px;
    }

    .main-box{
        min-width: 350px;
        width: 100vw;
        padding: 0px;
        grid-template-columns: auto;
        background-color:hsl(217, 100%, 97%) ;
        justify-content: center;
    }

    .inner-text{
        height:86px;
    }

    .img-box{
        height: 200px;
        width: 100vw;
        background-size:cover ;
        background-image: url('assets/images/bg-sidebar-mobile.svg');
        position: relative;
    }
    .inner-text{
        inset:2% 10% auto 10%;
        display: flex;
        flex-direction: row;
    }

    .text-box{
        padding: 0 6%;
        justify-content: center;
    }

    .number{
        height: 40px;
        width: 40px;
        font-size: 1rem;
        border-width: 1.5px;
    }

    .inner-content{
        top:-60px;
        position: relative;
        padding: 25px;
        border-radius: 10px;
        background-color: white;
        max-width: 400px;

    }

    .buttons{
        width: 100vw;
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    #next-button, #goback-button{
        margin: 20px 6% 20px;
    }

    .flex-container p{
        display: none;
    }
}